[core]
# What syntax should logs be generated as?
# Valid options: text, json
log_syntax: json

# What is the logging level?
# Valid options: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level: DEBUG

# What is the maximum size of a log file before being rotated?
log_maxbytes: 1500000

# How many log files should be kept after rotation?
log_backup_count: 5

# Where are the plugins located? For multiple paths, separate by comma
plugin_dir_list: /home/stoq/.stoq/plugins/

# What is the maximum recursion depth for the dispatcher?
max_recursion: 3

# What is the maximum size of the internal thread queue?
max_queue: 100

# How many consumers should be instantiated when using a provider?
# Note: Ensure this is a reasonable number for your use. Setting this
#       too high may cause memory issues or unpredictable oddities
#       when interacting with other plugins/services that have
#       timeouts or heartbeats.
#
# provider_consumers: 2

# Which plugins should be loaded by default, if no plugin
# of it's class is loaded. Multiple plugins may be defined,
# but must be comma separated.
providers: dirmon
archivers: mwdb
connectors: filedir
# decorators:
# dispatchers: yara

# When disptching, always send the payload to the listed worker
# plugins. Multiple plugins may be defined, but must be comma
# separated.
always_dispatch:
[mwdb]
mwdb_url=http://192.168.1.1:8080
#apikey=eyJhbGciOiJIUzUxMiJ9.eyJsb2dpbiI6ImFkbWluIiwiYXBpX2tleV9pZCI6Ijk5YzEwY2U4LWM0MmUtNDdhOC05MDYwLWRkMDhiMTY0ZDFhZSJ9.aBtmyaqf_bi_Ykr78O28Fc65I7mwHs3zYnHRafWD8td4ClEhGnSS02M8wvd2w62dIVtKb7J0CSxHPtovrTLaAA
#apikey=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJsb2dpbiI6ImFkbWluIiwiYXBpX2tleV9pZCI6ImI4Y2ViZmFiLTlmMWEtNDFhOC04MGVjLTY4MDAzMTAwNzE1ZSIsImlhdCI6MTY0ODQ1MjE0NiwiYXVkIjoiaHR0cDovLzEyNy4wLjAuMSIsInNjb3BlIjoiYXBpX2tleSIsInN1YiI6ImFkbWluIn0.2GGVQcoh5wI6B4e4v-MuBtBct2Yw42szUic5o6F-hmPtiz0j1xYnbXTLOI9Qmnn2Y28IU_NWVSMpHYXE0h38TQ
apikey=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJsb2dpbiI6ImFkbWluIiwiYXBpX2tleV9pZCI6IjkwYTRiMDk3LWU5MjMtNDRhMS04ZDA5LTJkNjBhZTQ1OGJhZCIsImlhdCI6MTY0ODY1Njk0NywiYXVkIjoiaHR0cDovLzEyNy4wLjAuMSIsInNjb3BlIjoiYXBpX2tleSIsInN1YiI6ImFkbWluIn0.OnUTc9H62rvXDkf3roFV2nhvCtvKLTunyK5Op3ZVcjbQqwpUPlkWXWDEnjVSAXQtDxI_bOOCkOuFdaTcvx152g
[dirmon]
source_dir=/files
[filedir]
results_dir=/home/stoq/tmp
compactly=True
[yara]
worker_rules=/rules/yara/index.yar
